## Template for each generated RetroFacebook_Foo class.
## This template uses the Apache Velocity Template Language (VTL).
## The variables ($pkg, $props, and so on) are defined by the fields of MutableRetroFacebookTemplateVars.
##
## Comments, like this one, begin with ##. The comment text extends up to and including the newline
## character at the end of the line. So comments also serve to join a line to the next one.
## Velocity deletes a newline after a directive (#if, #foreach, #end etc) so ## is not needed there.
## That does mean that we sometimes need an extra blank line after such a directive.
##
## A post-processing step will remove unwanted spaces and blank lines, but will not join two lines.

#if (!$pkg.empty)
package $pkg;
#end

#foreach ($i in $imports)
import $i;
#end

import org.json.JSONObject;
import com.facebook.*;
import rx.Observable;
import rx.Subscriber;
import rx.functions.*;

import com.bluelinelabs.logansquare.LoganSquare;

import android.os.Bundle;
import android.util.Log;
import org.json.JSONObject;
import org.json.JSONException;

import java.util.Map;
import java.util.List;

${gwtCompatibleAnnotation}
public final class $subclass$formalTypes extends $origClass$actualTypes {

## Property getters

#foreach ($p in $props)

    @Override
    ${p.access}${p.type} ${p.getter}(${p.args}) {
#if ($p.callback)
        Observable<$p.callbackType> obs =
#else
        ${p.type} obs =
#end
        Observable.just(this).map(new Func1<$subclass$formalTypes, Bundle>() {
            @Override public Bundle call($subclass$formalTypes t) {
#set ($map = ${p.queries})
#set ($maps = ${p.queryMaps})
#set ($bundles = ${p.queryBundles})
#if (!$map.isEmpty() || !$maps.isEmpty() || !$bundles.isEmpty())
                Bundle bundle = new Bundle();
#foreach ($query in $map.entrySet())
                bundle.putString($query.key, $query.value);
#end
#foreach ($queryMap in $maps)
                addMapToBubdle(bundle, ${queryMap});
#end
#foreach ($queryBundle in $bundles)
                bundle.putAll(${queryBundle});
#end
                return bundle;
#elseif ($p.post)
                return ${p.body}.toBundle();
#else
                return null;
#end
            }
        }).flatMap(new Func1<Bundle, Observable<GraphResponse>>() {
            @Override public Observable<GraphResponse> call(Bundle queries) {

#if ($p.get)

                GraphRequest request = GraphRequest.newGraphPathRequest(
                        AccessToken.getCurrentAccessToken(), ${p.path}, null);

#elseif ($p.post)

                GraphRequest request = GraphRequest.newPostRequest(
                        AccessToken.getCurrentAccessToken(), ${p.path}, null, null);

#elseif ($p.delete)

                GraphRequest request = GraphRequest.newDeleteObjectRequest(
                        AccessToken.getCurrentAccessToken(), ${p.path}, null);

#end

                if (queries != null) request.setParameters(queries);
                return Observable.create(new OnSubscribeGraphResponse(request));
            }
        }).flatMap(new Func1<GraphResponse, Observable<$p.typeArgs>>() {
            @Override public Observable<${p.typeArgs}> call(GraphResponse response) {
                // TODO check "data" field to determine parse group or item.
                ${p.typeArgs}s group = null;
                try {
                    Log.d("RetroFacebook", "${p.typeArgs}s: " + response.getJSONObject().toString());
                    group = LoganSquare.parse(response.getJSONObject().toString(), AutoJson_${p.typeArgs}s.class);
                } catch (java.io.IOException e) {
                    e.printStackTrace();
                    return Observable.empty();
                }

                if (group != null && group.data() != null) return Observable.from(group.data());

                try {
                return Observable.<${p.typeArgs}>just(LoganSquare.parse(response.getJSONObject().toString(), AutoJson_${p.typeArgs}.class));
                } catch (java.io.IOException e) {
                    return Observable.empty();
                }
            }
        }).filter(new Func1<${p.typeArgs}, Boolean>() {
            @Override public Boolean call(${p.typeArgs} item) {
                return item != null;
            }
        });
#if ($p.callback)
        obs.toList().subscribe(new Action1<List<$p.callbackType>>() {
                @Override public void call(List<$p.callbackType> list) {
                    ${p.callbackArg}.onCompleted(list);
                }
            }, new Action1<Throwable>() {
                @Override public void call(Throwable e) {
                    ${p.callbackArg}.onError(e);
                }
            });
#else
        return obs;
#end
    }

#end

    public static <T> T cast(Object o) {
        return (T) o;
    }

    public class OnSubscribeGraphResponse implements Observable.OnSubscribe<GraphResponse> {
        public GraphRequest request;

        public OnSubscribeGraphResponse(GraphRequest request) {
            this.request = request;
        }

        @Override
        public void call(final Subscriber<? super GraphResponse> sub) {
            Log.d("RetroFacebook", "onSubscribe");
            if (request != null) {
                request.setCallback(new GraphRequest.Callback() {
                    @Override
                    public void onCompleted(GraphResponse response) {
                        try {
                            FacebookRequestError requestError = response.getError();
                            FacebookException exception = (requestError == null) ? null : requestError.getException();

                            /* move into Observable.map()
                            if (response.getJSONObject() == null && exception == null) {
                                exception = new FacebookException("GraphObjectPagingLoader received neither a result nor an error.");
                            }
                            */

                            if (exception != null) {
                                sub.onError(exception);
                            } else {
                                sub.onNext(response);
                                request = response.getRequestForPagedResults(GraphResponse.PagingDirection.NEXT);

                                if (request != null) {
                                    Log.d("RetroFacebook", "hasNext");
                                    call(sub);
                                } else {
                                    Log.d("RetroFacebook", "end");
                                    sub.onCompleted();
                                }
                            }
                        } catch (Throwable e) {
                            sub.onError(e);
                        }
                    }
                });

                GraphRequest.executeBatchAsync(new GraphRequestBatch(request));
            } else {
                sub.onCompleted();
            }
        }
    }

    private static void addMapToBubdle(Bundle bundle, Map<String, String> map) {
        for (Map.Entry<String, String> entry : map.entrySet()) {
            bundle.putString(entry.getKey(), entry.getValue());
        }
    }
}
